.content{
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid;
  text-align: center;
  border-radius: 30px;
  width: 60%;
  height: auto;
}
